---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div id="profiles_publications">
          <p id="profiles_publications_loading">Loading publications from UCSF Profiles...</p>
        </div>

      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>
// This uses the same UCSF Profiles JSON API call pattern as /kevan/.
$(document).ready(function() {
  add_profiles_publications('ProfilesURLName', 'kevan.shokat');
});

function add_profiles_publications(identifier_type, identifier) {
  var request_completed = false;

  $.getJSON(
    'https://api.profiles.ucsf.edu/json/v2/?source=anatomy.ucsf.edu&' +
      identifier_type + '=' + identifier + '&publications=full&callback=?',
    function(response) {
      request_completed = true;

      if (!response || response.error) {
        show_publications_fallback();
        return;
      }

      if (!response.Profiles || response.Profiles.length === 0) {
        show_publications_fallback();
        return;
      }

      var data = response.Profiles[0];

      if (data.Publications && data.Publications.length > 0) {
        $('#profiles_publications ol').remove();
        $('#profiles_publications')
          .empty()
          .show()
          .append($('<ol id="profiles_publications_list"></ol>'));

        jQuery.each(data.Publications, function() {
          var li = $('<li class="profiles_publications_li" />');

          if (this.PublicationTitle) {
            li.append(this.PublicationTitle + ' ');
          } else {
            li.append('Publication record ');
          }

          if (this.PublicationSource && this.PublicationSource.length > 0) {
            li.append(
              $('<a class="profiles_publication_link" />')
                .attr('href', this.PublicationSource[0].PublicationSourceURL)
                .text('View on ' + this.PublicationSource[0].PublicationSourceName)
            );
          }

          $('#profiles_publications_list').append(li);
        });
      } else {
        show_publications_fallback();
      }
    }
  ).fail(function() {
    request_completed = true;
    show_publications_fallback();
  });

  setTimeout(function() {
    if (!request_completed) {
      show_publications_fallback();
    }
  }, 8000);
}

function show_publications_fallback() {
  $('#profiles_publications')
    .empty()
    .show()
    .append(
      '<p>Publications could not be loaded automatically. Please visit ' +
      '<a href="https://profiles.ucsf.edu/kevan.shokat" target="_blank" rel="noopener">' +
      "Kevan Shokat's UCSF Profiles publication page</a>.</p>"
    );
}
</script>